* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #b928d9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.caja {
    justify-content: center;
    text-align: center;
}

button {
border-style: hidden;

}

#lanzar {
    height: 50vh;
    width: 50vw;
    padding: 10px;
    cursor: pointer;
    background: #b928d9;

}

h5 {
    font-size: 30px;
    color: cyan;
    display: block;
margin-top: 5px;
}